*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild
.cxx
*.apk
!dist/*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
.kotlin/
app/release/
keystore.properties
